
# fancy secret stuff that just contains my xsts tokens in plain text (no sharing these for now)
# actually this is just a folder for dumped HTTP traffic from MCC, so i can use vscodes intuitive search functionalities
secret_stuff/



node_modules/
package-lock.json
package.json
